@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aceking";
    src: url("/aceking.woff");
  }
}

html,
body {
  @apply m-0 h-full min-h-[calc(var(--vh,1vh)*100)] w-full p-0;
}

html {
  @apply bg-home bg-cover bg-fixed bg-center bg-no-repeat;
  scrollbar-gutter: auto !important;
}
